@import "index.css";

.bg-img{
    background-image: url('blog.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.blog{
    padding:3% 25%;
    text-align: justify;
}
.blog-heading{
    text-align: center;
    line-height: 3rem;
}
.blog-content{
    padding:3% 0px;
}
.blog-text{
    font-size: 14px;
    line-height: 1.5rem;
}
@media screen and (max-width:980px) {
    .blog{
        padding:5% 15%;
    }
    .blog-image{
        width:100%;
        height:100%;
    }
}
@media screen and (max-width:600px) {
    .blog{
        padding:5%;
    }
}