@import "index.css";
.body{
    width: 100%;
}
.bg-img{
    background-image: url('Health-Foods.jpg');
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* contact form*/
.contact{
    padding:3% 10%;
    text-align: center;
}
.contact-div{
    margin:20px;
}
.contact-title{
    text-align: center;
    color:#8bb178;
    font-size: 30px;
    padding-bottom: 15px;
    padding-bottom: 20px;
    
}
.contact-text{
    font-size: 20px;
}
.contact-form{
    text-align: justify;
}

.input-div{
    margin:20px 0px;
}
.input-box{
    padding:10px 0px;
    width: 100%;
    border:none;
    background-color: #eee;
}
.btn-submit{
    background-color: black;
    color:white;
    font-size: 20px;
    border-radius: 20px;
    padding:10px 20px;
}

/*palm backgroung*/
.palm-bg{
    background-image: url('palm-background-01.jpg');
    width:100%;
    background-size: cover;
    line-height: 1.8rem;
   
}
.bg-overlay{
    background-color: rgba(255,255,255,0.5);
    height:inherit;
    width:inherit;
}
.palm-bg-content{
    padding:5%;
}
.palm-bg-text{
    font-size: 25px;
    line-height: 2.5rem;
}
.palm-bg-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: 2rem;
    padding-top: 7%;
    
}
.palm-grid-heading{
    padding-bottom: 15px;
}
.palm-bg-grid p{
    font-size: 14px;
}

@media screen and (max-width:800px){
    
  .contact{
    padding:3% 5%;
  }  
  .contact-title{
    font-size: 20px;
  }
  .input-box{
    width: 100%;
  }
  .palm-bg-grid{
display: grid;
grid-template-columns: repeat(2, 1fr);

  }
}